<h3>Add Student data</h3>

<form method="POST" action="/students/add">
  <p>First name</p>
  <input type="text" name="first_name">

  <p>Last name</p>
  <input type="text" name="last_name">

  <p>Email </p>
  <input type="text" name="email">

  <br>
  <button type="submit">add student</button>
</form>