<h1>teacher page</h1>

<table border="1">
  <tr>
    <th>First name</th>
    <th>last name</th>
    <th>email</th>
    <th>gender</th>
  </tr>
  
  <% data.forEach(function(item) { %>
    <tr>
      <td><%= item.first_name %></td>
      <td><%= item.last_name %></td>
      <td><%= item.email %></td>
      <td><%= item.gender %></td>
    </tr>
  <% }) %>

</table>